@charset "UTF-8";
  



@media screen and (max-width: 1400px){
 body{
  background-color: thistle;
 }
.ult-container{
  display: flex;
  flex-direction: column;
}
.ult-item{
  position: static;
}
.ult-logo{
  width: 35%;
}
}
@media screen and (max-width: 1200px){
  body{
    background-color: blanchedalmond;
  }
}