@charset "UTF-8";



@media screen and (max-width: 500px) {
  :root{
    --swiper-pagination-bullet-horizontal-gap: 5px;
  }


  body {
    /* background-color: skyblue; */
  }


  /***** header *****/
  .menu-btn {
    top: 36px;
    right: 32%;
  }

  header p {
    width: 30%;
    font-size: 1rem;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .txt-w {
    margin-left: 20px;
  }

  /***** cover *****/
  .cover-bg {
    background: url(./images/ULT-logo-M.png) no-repeat 50%;
    height: 100vh;
  }


  /***** main *****/
  .main {
    padding: 15px;
  }

  .main div:last-child {
    text-align: center;
  }

  .main-txt ul li {
    font-size: 1rem;
  }

  .main-txt ul li:first-child {
    font-size: 1.5rem;
  }

  .main-txt ul li:last-child {
    width: 100%;
  }

  .main-container {
    flex-direction: column;
  }

  .main-headphone {
    width: 90%;
    display: block;
  }

  .loop-container {
    font-size: 1.2rem;
  }

  .percent {
    width: 37px;
    margin-top: 3.3px;
  }

  .main-btn {
    display: grid;
    justify-content: left;
    gap: 10px;
  }
  .main-txt a:last-child span{
    margin-left: 48px;
  }
  .main-txt a:last-child span img{
    margin-top: 1px;
  }

  /***** music *****/
  .music {
    margin-top: 500px;
    margin-bottom: 100px;
  }

  .music-txt li:first-child {
    margin-bottom: 10px;
  }

  figure img {
    width: 100%;
  }

  /***** ult-wear *****/
  .ult-wear {
    padding-bottom: 30px;
  }

  .ult-item p {
    margin-bottom: 50px;
  }

  .cloudimage-360-view-360-icon {
    width: 70px !important;
    height: 70px !important;
  }


  /***** core *****/
  .core {
    display: grid;
    grid-template-columns: 1fr;
  }

  .core-container h3 {
    text-align: left;
  }

  .core-container img {
    display: block;
    position: static;
    width: 100%;
    margin-top: 0;
    grid-row: 2;
  }

  .core-container h3 {
    display: none;
  }

  .core-txt {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    font-size: 1.1rem;
    padding: 0 20px;
    grid-row: 1;
  }

  .core-txt ul li:first-child {
    width: 95%;
  }

  .core-txt p {
    width: 100%;
  }

  .core-txt h3 {
    display: inline;
    font-size: clamp(2.5rem, 6vw, 4rem);
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
  }

  .video-btn {
    display: none;
  }

  .core-mo {
    display: block;
    margin-top: 40px;
    margin-left: 45px;
  }

  .video-mo {
    border: 1px solid var(--color-point-point);
    padding: 15px 5px 15px 20px;
    border-radius: 50px;
    margin-right: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 80px;
  }

  .video-mo img {
    width: 20px;
  }

  .video-mo span {
    background-color: #3C4C54;
    padding: 12px;
    border-radius: 50px;
    margin-left: 15px
  }

  /***** video *****/
  .video {
    margin-top: 450px;
    padding: 100px 0;
  }


  /***** connect *****/
  .connect {
    padding: 150px 0;
    position: relative;
  }

  .connect h3 {
    text-align: left;
    margin-left: 20px;
  }

  .arrow {
    position: absolute;
    top: 37%;
    margin-left: 10px;
  }

  .mySwiper3 .swiper-slide {
    display: flex;
    flex-direction: column;
  }

  .mySwiper3 .swiper-slide p {
    width: 93%;
    font-size: 1rem;
  }

  .mySwiper3 .swiper-slide span img {
    width: 20%;
  }


  /***** customized *****/
  .customized-bg {
    background: url(./images/overview-feature-1-D.png)no-repeat 20%;
  }

  .customized-txt {
    right: 10px;
    bottom: 200px;
    font-size: 1rem;
  }

  .customized-txt p {
    width: 100%;
  }

}